version: '3.1'

services:
  rabbitmq:
    image: 'rabbitmq:3.8.6-management'
    container_name: rabbitmq-notification-service
    ports:
      - 5672:5672
      - 15672:15672

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - '5432:5432'
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
      image: dpage/pgadmin4
      environment:
        PGADMIN_DEFAULT_EMAIL: ${DB_ADMIN_EMAIL}
        PGADMIN_DEFAULT_PASSWORD: ${DB_PASSWORD}
      ports:
        - '8081:80'
      depends_on:
        - postgres
      networks:
        - postgres